@use '../../sass/abstracts/' as abs;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-block: 2rem;

  &.full-screen {
    min-height: calc(100vh - 4rem);
  }

  h1 {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--chakra-colors-teal-500);
  }

  @include abs.mq('md') {
    h1 {
      font-size: 2rem;
    }
  }
}
