auth-container > form {
  animation: scale 0.3s ease-out forwards;
  width: min(100%, 20rem);
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
