.page-not-found-illustration {
  animation: up-and-down 5s ease infinite alternate;
}

@keyframes up-and-down {
  0%,
  100% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateX(5%);
  }
  80% {
    transform: translateY(-5%);
  }
}
