@use '../abstracts/index' as *;

//*******************************
//********** VARIABLES **********
//*******************************

html {
  font-size: 80%;
  @include mq(md) {
    font-size: 100%;
  }
}

body {
  background-color: var(--chakra-colors-gray-100) !important;
}
